{{/* SPDX-FileCopyrightText: 2026 Bernd Zeimetz <bernd@bzed.de> */}}
{{/* SPDX-License-Identifier: AGPL-3.0-or-later */}}
{{define "map"}}{{template "head" .}}
{{with .Data}}
<h1>{{.Instance}} <small>{{.World}}</small></h1>
{{if .Err}}<p class="flash err">{{.Err}}</p>{{end}}
<div id="flash"></div>
<link rel="stylesheet" href="/vendor/leaflet/leaflet.css">
<div id="map" data-stream="/b/{{.Backend}}/i/{{.Instance}}/stream" data-base="/b/{{.Backend}}/i/{{.Instance}}" data-size="{{.Size}}"></div>
<script src="/vendor/leaflet/leaflet.js"></script>
<script src="/static/map.js" defer></script>
{{end}}
{{template "foot" .}}{{end}}
